<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tscredit.origin.user.dao.UserMapper">

    <insert id="saveWxUserInfo">
        insert ignore into urm_user_info_wx (wx_openid, wx_userinfo) values (#{openid}, #{userInfo})
    </insert>

    <select id="loadUserByUsername" resultType="com.tscredit.origin.user.entity.User">
        select
            fu_id AS id,
            fu_name AS `name`,
            fu_loginname AS loginname,
            fu_password AS `password`,
            fu_cnname AS cnname,
            fu_mobile AS mobile,
            fu_ent_name AS entName,
            role_id AS roleid,
            (SELECT `role_code` from urm_role where id = role_id) AS roleCode,
            (SELECT `role_name` from urm_role where id = role_id) AS roleName,
            fu_opentime AS opentime,
            fu_expiredtime AS expiredtime,
            fu_userstatus AS userstatus
        from urm_user
        ${ew.customSqlSegment}
    </select>
</mapper>
